header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.dark-mode {
    background-color: #212047;
    color: #C5c3f8
}
#allDialog {

    position: absolute;
    inset: 0px 90%;

}